/* My style */

$font-size-a: 12px;
$font-size-b: 14px;
$font-size-c: 16px;

body {
  font-size: $font-size-b;
  
  h1 {
    font-size: $font-size-c;
    
    &.smaller {
      font-size: $font-size-a;
    }
  }
}